# Server Port
PORT=5000

# CORS Allowed Origin
CORS_ORIGIN="http://localhost:5173"

# JWT Authentication Secret Key
JWT_SECRET="super_secret_jwt_key_requin_cms_2026"

# MongoDB Database Connection String (Optional, falls back to local JSON database)
MONGODB_URI="mongodb://localhost:27017/requin_cms"

# Default Superadmin Credentials
ADMIN_DEFAULT_EMAIL="admin@requinsolutions.com"
ADMIN_DEFAULT_PASSWORD="Admin@Requin2026!"
